extends /_page
block body
    c-tab#mainTab(height="100%")
        nav
            tabs
                tab.active(caption=ll.l("所有试卷") name="examAll")
                tab(caption=ll.l("试卷查询") name="examSearch")
        contents
            content.active(name="examAll")
                c-subview(height="100%" url="E-Learning/exam/examAll.html" jsUrl="$")
            content(name="examSearch")
                c-subview(height="100%" url="E-Learning/exam/examSearch.html" jsUrl="$")
append scripts
    script(src="E-Learning/exam/examMain.js")

