v-box
    flex-box
        .content.block-layout(style="overflow: auto")
            c-panel(caption=ll.l("所有试卷"))
                .content
                    c-table(height="100%" sortMode="local" bind="examAll")
                        column(property="paperID" caption="试卷ID" sortable="true")
                        column(property="paperName" caption="试卷名称" sortable="true")
                        column(property="subject" caption="科目" sortable="true")
                        column(property="totalScore" caption="分数" sortable="true")
                        column(caption="参加考试" align="center")
                            template
                                c-button(caption="参加考试" click="takeExam")
                        column(caption="查看已完成成绩" align="center")
                            template
                                c-button(caption="查看已完成成绩")
                    c-pager(bind="examAll")
