c-form(c-bind="user" dataType="User")
    fields.cols-3
        field(property="userId")
            label userId
            c-input
        field(property="name")
            label name
            c-input
        field(property="idCard")
            label idCard
            c-input