v-box
    flex-box
        .content.block-layout(style="overflow: auto")
            c-panel(caption=ll.l("查询条件"))
                c-form(c-bind="paperSearch" dataType="PaperSearch")
                    fields.cols-4
                        field(property="paperID")
                            label 试卷ID
                            c-input
                        field(property="paperName")
                            label 试卷名称
                            c-input
                        field(property="paperSubject")
                            label 科目
                            c-dropdown(valueProperty="key" textProperty="name" c-items="subjectname")
                        field
                            c-button(caption="查询")
            c-panel(caption=ll.l("查询结果"))
                .content
                    c-table(bind="paperSearchResult" dataType="PaperSearchResult")
                        template(name="editType")
                            c-dropdown(width="100%" bind="$default" items="{{editTypes}}" valueProperty="name" textProperty="name" )
                        column(property="paperID" caption="试卷ID" sortable="true")
                        column(property="paperName" caption="试卷名称" sortable="true")
                        column(property="paperSubject" caption="科目" sortable="true")
                        column(property="paperQuantity" caption="题目数量" sortable="true")
                        column(property="paperScore" caption="分数" sortable="true")
                        column(property="isValid" caption="是否有效" sortable="true")
                        column(caption="查看" align="center")
                        column(caption="修改" align="center")
                        column(caption="删除/还原" align="center")